<table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;"><tr><td>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td style="text-align: center;">
        <%= image_tag "logos/adopt-a-drain.png", :alt => "adopt-a-drain logo", :title => "adopt-a-drain logo" %>
      </td>
    </tr>
  </table>

  <p>
    Dear <%= @user.name.split.first %>,
  </p>

  <p>
    Wow! Thank you for adopting another drain.
  </p>

  <p>
    If you encounter medical waste, construction debris, or if the drain is
    clogged beneath the grate, report non-emergency issues via <a href="https://www.medfordma.org/mayor/online-request-for-city-services/">SeeClickFix</a>  or contact Medford Department of Public Works at 781-393-2417 to have it cleared by the City.
  </p>

  <p>
    As always, please let us know if you have any feedback or questions about
    this program. We love to hear from you.
  </p>

  <p>
    Sincerely,
  </p>
  <p>
    SFPUC <a href="https://adoptadrain.medford-ma.gov/">Adopt a Drain</a> Team
    <br />
    <a href="tel:781-393-2417">781-393-2417</a>
    <br />
    <a href="mailto:enviro@medford-ma.gov">enviro@medford-ma.gov</a>
  </p>

  <p>
    <em>
      Remember, the City of Medford won't be held responsible for anything that happens to you or others in service of maintaining your drain. Please be careful.
    </em>
  </p>

  <p style="font-style: italic; font-size: 11px;">
    If you move or are no longer able to tend to your drain, please abandon it on
    <a href="adoptadrain.sfwater.org">https://adoptadrain.sfwater.org</a>. Thank you.
  </p>

  <p>
    <a href="https://facebook.com/sfwater" style="text-decoration:none !important;">
      <%= image_tag "icons/facebook.png", :alt => "sfwater facebook", :title => "sfwater facebook" %>
    </a>
    &nbsp;
    <a href="https://twitter.com/SFWater" style="text-decoration:none !important;">
      <%= image_tag "icons/twitter.png", :alt => "sfwater twitter", :title => "sfwater twitter" %>
    </a>
    &nbsp;
    <a href="https://www.instagram.com/sfwater/" style="text-decoration:none !important;">
      <%= image_tag "icons/instagram.png", :alt => "sfwater instagram", :title => "sfwater instagram" %>
    </a>
    &nbsp;
    <a href="https://www.youtube.com/user/SFPUCcommunications" style="text-decoration:none !important;">
      <%= image_tag "icons/youtube.png", :alt => "sfwater youtube", :title => "sfwater youtube" %>
    </a>
    &nbsp;
    <a href="https://www.linkedin.com/company/sfpuc" style="text-decoration:none !important;">
      <%= image_tag "icons/linkedin.png", :alt => "sfwater linkedin", :title => "sfwater linkedin" %>
    </a>
  </p>
</td></tr></table>
